<!-- goal is to make a essential list of the top five from OMBD, and TMDB  -->
<%- include ('../partials/header') %> 
<div class = "container">

    <!-- goal is to have essentially a list with the name of the movie and their rating  -->
    <div class = "col-2">
        
        <!-- planning on using a card with IMDB's photo here, and essentially creating a makeshift list -->
        <div class ="card">

            <img class = "card-image-top" src = "../../resources/img/IMDb.png" alt = "Internet Movie Database ">
            <!-- after that, is the listing, I think for now in absence of index.js calls, I am going to focus on creating a table just to sketch it out. -->
            <table class = "table">

                <thead>
                    <tr>
                    <th>Movie Name</th>
                    <th>Rating</th>
                    </tr>
                </thead>

                <!-- below is going to be represented with more of a for-loop, but for now, let's write out what the first one would look like  -->
                <tr>
                    <!-- would be using the API call to get the relevant details here, but this is likely not possible without having the back end sorted out.  -->
                    <td>Sample 1 </td> 
                    <td> 9.78</td>
                </tr>
                <!-- note: only planning on top 5 most reviewed, so planning on going from there   -->
                <tr>
                    <!-- would be using the API call to get the relevant details here, but this is likely not possible without having the back end sorted out.  -->
                    <td>Sample 1 </td> 
                    <td> 9.78</td>
                </tr>
                <tr>
                    <!-- would be using the API call to get the relevant details here, but this is likely not possible without having the back end sorted out.  -->
                    <td>Sample 1 </td> 
                    <td> 9.78</td>
                </tr>
                <tr>
                    <!-- would be using the API call to get the relevant details here, but this is likely not possible without having the back end sorted out.  -->
                    <td>Sample 1 </td> 
                    <td> 9.78</td>
                </tr>
                <tr>
                    <!-- would be using the API call to get the relevant details here, but this is likely not possible without having the back end sorted out.  -->
                    <td>Sample 1 </td> 
                    <td> 9.78</td>
                </tr>
                <tr>
                    <!-- would be using the API call to get the relevant details here, but this is likely not possible without having the back end sorted out.  -->
                    <td>Sample 1 </td> 
                    <td> 9.78</td>
                </tr>
            </table>
        </div>
    
    </div>

    <!-- second one here  -->
    <div class = "col-2">
        
        <!-- planning on using a card with IMDB's photo here, and essentially creating a makeshift list -->
        <div class ="card">

            <img class = "card-image-top" src = "../../resources/img/TMBD.png" alt = "Internet Movie Database ">
            <!-- after that, is the listing, I think for now in absence of index.js calls, I am going to focus on creating a table just to sketch it out. -->
            <table class = "table">

                <thead>
                    <tr>
                    <th>Movie Name</th>
                    <th>Rating</th>
                    </tr>
                </thead>

                <!-- below is going to be represented with more of a for-loop, but for now, let's write out what the first one would look like  -->
                <tr>
                    <!-- would be using the API call to get the relevant details here, but this is likely not possible without having the back end sorted out.  -->
                    <td>Sample 1 </td> 
                    <td> 9.78</td>
                </tr>
                <!-- note: only planning on top 5 most reviewed, so planning on going from there   -->
                <tr>
                    <!-- would be using the API call to get the relevant details here, but this is likely not possible without having the back end sorted out.  -->
                    <td>Sample 1 </td> 
                    <td> 9.78</td>
                </tr>
                <tr>
                    <!-- would be using the API call to get the relevant details here, but this is likely not possible without having the back end sorted out.  -->
                    <td>Sample 1 </td> 
                    <td> 9.78</td>
                </tr>
                <tr>
                    <!-- would be using the API call to get the relevant details here, but this is likely not possible without having the back end sorted out.  -->
                    <td>Sample 1 </td> 
                    <td> 9.78</td>
                </tr>
                <tr>
                    <!-- would be using the API call to get the relevant details here, but this is likely not possible without having the back end sorted out.  -->
                    <td>Sample 1 </td> 
                    <td> 9.78</td>
                </tr>
                <tr>
                    <!-- would be using the API call to get the relevant details here, but this is likely not possible without having the back end sorted out.  -->
                    <td>Sample 1 </td> 
                    <td> 9.78</td>
                </tr>
            </table>
        </div>
    
    </div>

</div>
<%- incldue ('../partials/footer') %> 